.footer {
  background: linear-gradient(to top, #0a0a3b, #091d3e);
  color: #ffffff;
  position: relative;
  padding: 5vw 8vw;
  /* Scales with screen size */
  overflow: hidden;
  font-family: 'Bricolage Grotesque', 'Noto Sans', sans-serif;
}

/* Background Blur Gradient */
.footer__background {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.footer__background svg {
  width: 100%;
  height: 100%;
  display: block;
}

/* ================================
   Footer Layout
   ================================ */
.footer__content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  gap: 6vw;
  width: 80vw;
}

/* ================================
   Left Section
   ================================ */
.footer__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__description {
  line-height: 1.6;
  font-weight: 300;
  color: #ffffff;
}

.footer__description p {
  font-size: 16px;
  margin-bottom: 0.8vw;
}

.footer__copyright {
  font-size: 12px;
  color: #ffffff;
  opacity: 0.8;
  font-weight: 300;
}

.footer__copyright span {
  font-weight: 500;
}

/* ================================
   Social Icons
   ================================ */
.social-icons {
  display: flex;
  gap: 20px;
  font-size: 20px;
}

.social-icons a {
  color: white;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.social-icons a:hover {
  opacity: 0.8;
  transform: translateY(-0.2vw);
}

/* ================================
   Right Section
   ================================ */
.footer__links {
  width: 45%;
  display: flex;
  justify-content: flex-end;
  gap: 7vw;
  flex-wrap: wrap;
}

.footer__section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__section h4 {
  font-size: 18px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.3);
  margin: 0 0 0.5vw 0;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.footer__list p {
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s ease;
}

.footer__list p:hover {
  text-decoration: underline;
  opacity: 0.8;
}

/* ================================
   Responsive Design
   ================================ */

/* Tablet */
@media (max-width: 1024px) {

  .footer__content {
    flex-direction: column;
    gap: 6vw;
  }

  .footer__left {
    width: 100%;
  }

  .footer__description p {
    font-size: 14px;
    margin-bottom: 0.8vw;
  }

  .footer__links {
    justify-content: flex-start;
    width: 100%;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .footer {
    padding: 8vw 5vw;
  }

  .logo__text h2 {
    font-size: 4vw;
  }

  .logo__text h3 {
    font-size: 3.4vw;
  }

  .footer__description {
    max-width: 100%;
  }

}

/* Large Desktop / Monitors */
@media (min-width: 1600px) {
  .footer {
    padding: 4vw 10vw;
  }

  .footer__description {
    max-width: 40vw;
  }

}