  .custom-playlist {
    display: flex;
    padding: 16px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    background: var(--pricing-bg-white);
    width: fit-content;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }

  .playlist-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-align: center;
  }

  .playlist-title {
    color: var(--pricing-fg-grey-1);
    font-size: 24px;
    font-weight: 700;
    margin: 0;
  }

  .playlist-description {
    max-width: 363px;
    color: var(--pricing-fg-grey-2);
    font-size: 16px;
    font-weight: 400;
    margin: 0;
  }

  .create-playlist-btn {
    display: flex;
    height: 44px;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--pricing-bg-primary);
    border: none;
    color: var(--pricing-fg-inverse-1);
    font-family: 'Bricolage Grotesque', -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 93%;
    cursor: pointer;
    transition: background 0.3s ease;
  }

  .create-playlist-btn:hover {
    background: #0d3ba8;
  }